<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Don't forget gebruikt toegang om je agenda-items met de iPhone Kalender te synchroniseren.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Don't forget gebruikt de microfoon om gesproken tekst aan een nieuwe invoer toe te voegen.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Don't forget gebruikt spraakherkenning om je gesproken invoer om te zetten naar tekst.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
